*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos body */
.fondo{
    font-family: "roboto", sans-serif;
    background-color: #1C1F30;
}
/* estilos header */
.logo{
    width: 50px;
    height: auto;
}
/* estilos main */
main{
    color: gray;
    text-align: center;
    font-size: 20px;
}
.home{
    width: 500px;
    height: auto;
    padding-top: 1rem;
}
.contactos{
    width: 500px;
    height: auto;
    margin: 1rem;
}
.contactos1{
    width: 500px;
    height: 450px;
    margin: 1rem;
}
.productos{
    display: grid;
    place-items: center;
    padding-top: 1rem;
}
/* estilos footer */
footer{
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}
footer div img{
    width: 100px;
    height: auto;
}
